<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Product</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div class="container-fluid">
      <h2>Voeg materiaal toe aan het assortiment</h2>
      <form th:action="@{/products/new}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="photo">Product Photo</label>
          <input
                  type="file"
                  class="form-control"
                  id="photo"
                  th:field="*{photo}"
                  placeholder="place the photo URL here"
                  name="photo"
                  required>
          <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
                  type="text"
                 class="form-control"
                 id="name"
                 th:field="*{name}"
                  required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
                  class="form-control"
                  id="description"
                  th:field="*{description}"
                  required></textarea>
        </div>
        <div class="form-group">
          <label for="tags">Tags:</label>
          <div th:each="tag : ${tags}">
            <input type="checkbox" th:value="${tag}" th:field="*{tags}" th:checked="${product.tags.contains(tag)}"/> <span th:text="${tag}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="totalStock">Total Stock</label>
          <input
                  type="number"
                  class="form-control"
                  id="totalStock"
                  th:field="*{totalStock}"
                  required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </section>
</main>
<script src="/vendor/jquery/jquery.slim.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>