<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Basket of the Student</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .truncate {
      font-size: 0.6em; /* Adjust the font size as needed */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</head>
<body class="d-flex flex-column">

<!-- Page Content-->
<section layout:fragment="body">
  <!-- Page content-->
  <h1>Basket</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4 mt-4">
          <div class="card-header">Winkelmand</div>
          <div class="card-body">
            <!-- Controleer of de winkelmand leeg is -->
            <div th:if="${loan == null || loan.loanItems.size() == 0}">
              <p>Je winkelmandje is leeg.</p>
              <a th:href="@{/products/product-list}" class="btn btn-primary">Verder winkelen</a>
            </div>

            <table class="table align-middle mb-0 bg-white" th:if="${loan != null && loan.loanItems.size() > 0}">
              <tbody>
              <th:block th:if="${loan != null}" th:each="product : ${loan.loanItems}">
                <tr th:each="product: ${loan.loanItems}" >
                  <td>
                    <div class="d-flex align-items-center">
                      <img th:src="@{/products/{id}/photo(id=${product.product.product_id})}" alt="" style="width: 50px; height: 50px" class="rounded-circle"/>
                      <div class="ms-3">
                        <p class="fw-bold mb-1" th:text="${product.product?.name ?:'naam ontbreekt'}"></p>
                        <p class="text-muted mb-0 truncate" th:text="${product.product.description}"></p>
                      </div>
                    </div>
                  </td>


                  <td>
                    <!-- <span class="badge badge-success rounded-pill d-inline" th:text="${#dates.format(loan.startDate, 'yyyy-MM-dd')}"></span> -->
                  </td>
                  <td>
                    <!-- <span class="badge badge-success rounded-pill d-inline" th:text="${#dates.format(loan.endDate, 'yyyy-MM-dd')}"></span> -->
                  </td>
                  <td>
                    <form th:action="@{/basket/remove}" method="post">
                      <input type="hidden" name="productId" th:value="${product.product.product_id}" />
                      <button type="submit">Verwijder</button>
                    </form>
                  </td>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <form th:action="@{/basket/checkout}" method="post" th:if="${loan.loanItems.size() > 0}">
      <button type="submit">Afrekenen</button>
    </form>
  </div>


</section>

</body>
</html>